<form method="POST" action ="{{ url_for('productWs.create_product') }}" enctype="multipart/form-data" onsubmit="return validateForm();">



    <p>
        <label for="libelle">libelle</label>
        <input type="text" name="libelle"
               placeholder="libelle">

    </p>


    <p>
        <label for="price">price</label>
        <input type="number" name="price"
               placeholder="price">

    </p>

    <p>
        <label for="description">description</label>
        <br>
        <textarea name="description"
                  placeholder="description"
                  rows="15"
                  cols="60"
        ></textarea>

    <p>
    <label for="category_id">Category</label>
        <select name="category_id">
            {% for category in category %}
                <option value="{{ category.id_category }}">{{ category.libelle }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="date_debut_promotion">date debut promotion</label>
        <input type="date" name="date_debut_promotion"
               placeholder="date_debut_promotion">

    </p>

    <p>
        <label for="date_fin_promotion">date fin promotion</label>
        <input type="date" name="date_fin_promotion"
               placeholder="date_fin_promotion">

    </p>

    <p>
        <label for="pourcentage_promotion">pourcentage promotion</label>
        <input type="number" name="pourcentage_promotion">

    </p>

    <p>
        <label for="image">Image</label>
        <input type="file" name="image" formenctype="multipart/form-data">
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>
<script>
function validateDates() {
    const today = new Date();
    const startDateInput = document.getElementsByName('date_debut_promotion')[0];
    const endDateInput = document.getElementsByName('date_fin_promotion')[0];

    const startDate = new Date(startDateInput.value);
    const endDate = new Date(endDateInput.value);

    if (startDate <= today && startDate is not) {
        alert("La date de début de promotion doit être postérieure à la date d'aujourd'hui.");
        return false;
    }

    if (endDate <= startDate) {
        alert("La date de fin de promotion doit être postérieure à la date de début de promotion.");
        return false;
    }

    return true;
}

function validateForm(){
    return validatePrice()&& validateDates();
}

</script>

