<form method="post" enctype="multipart/form-data">


    <p>
        <label for="libelle">libelle</label>
        <input type="text" name="libelle"
               placeholder="libelle">
        </input>
    </p>


    <p>
        <label for="price">price</label>
        <input type="number" name="price"
               placeholder="price">
        </input>
    </p>

    <p>
        <label for="description">description</label>
        <br>
        <textarea name="description"
                  placeholder="description"
                  rows="15"
                  cols="60"
        ></textarea>

    <p>
        <label for="category_id">category_id</label>
        <input type="number" name="category_id"
               placeholder="category_id">
        </input>
    </p>
    <p>
        <label for="date_debut_promotion">date debut promotion</label>
        <input type="date" name="date_debut_promotion"
               placeholder="date_debut_promotion">
        </input>
    </p>

    <p>
        <label for="date_fin_promotion">date fin promotion</label>
        <input type="date" name="date_fin_promotion"
               placeholder="date_fin_promotion">
        </input>
    </p>

    <p>
        <label for="pourcentage_promotion">pourcentage promotion</label>
        <input type="number" name="pourcentage_promotion">
        </input>
    </p>

    <p>
        <label for="image">Image</label>
        <input type="file" name="image">
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>