<div style="margin-top: 0px;">
    <div class="vertical-nav" style="padding-top: 0px;padding-right: 28px;background-color: deepskyblue" ;>
        <h4 class="text-center"></h4>
        <h4>admin</h4>
        <ul class="vertical-nav-list">
            <li class="vnav-li"><a class="vnav-link" href={{ url_for ("productWs.get_admin_page") }}>accueil</a></li>
            <li class="vnav-li"><a class="vnav-link" href="{{ url_for('productWs.create_page') }}">creer produits</a></li>

            <li class="vnav-li"><a class="vnav-link" href="#">deconexion</a></li>
        </ul>
    </div>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</div>

</html>