{% extends "component/admin_skeleton.html" %}


    {% block title %}
        back-office
    {% endblock title%}

{% block head %}
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style_admin.css">
    <style>
    body{
        background-color: #d7e1c5;
    }
        .vertical-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    overflow-y: hidden;
    z-index: 999;
    background-color: #a8bd7f;
    padding: 20px;
    }

    .catalog {
    margin-left: 20%;
    width: 80%;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .product-grid7 {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
        </style>

{% endblock %}

{% block content %}
    <div class=" mtr-5 ">
    <div class="row">
        <div class="vertical-bar">
  {% include 'component/admin_tools.html' %}

        </div>
        <div class="catalog">

    {% include 'component/admin_catalog.html' %}
        </div>
    </div>
    </div>


{% endblock %}
