{% extends "component/skeleton.html" %}

{% block title %}
    create
{% endblock title%}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_admin.css') }}">

    <style>

        .vertical-bar {
            float: left;
            width: 20%;
        }

        .form {
            float: right;
            width: 80%;
        }


        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="mtr-5">
        <div class="clearfix">
            <div class="vertical-bar">
                {% include 'component/verticalbar.html' %}
            </div>
            <div class="form">
                {% include 'component/create_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}