{% extends "component/skeleton.html" %}


    {% block title %}
        login
    {% endblock title%}
    {% block head %}{{ super() }}
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/Google-Style-Login-.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="../static/css/Login-screen.css">
    {% endblock %}



{% block content %}
    <div id="login-one" class="login-one">
        <form class="login-one-form">
            <div class="col">
                <div class="login-one-ico ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-box-arrow-in-right fa-8x" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </div>
                <div class="form-group mb-3">
                    <div>
                        <h3 id="heading">Log in:</h3>
                    </div>
                        <input class="form-control" type="text"  placeholder="Username" style="margin-left:10px;">
                        <input class="form-control" type="password"  placeholder="Password" style="margin-left:10px;">
                    <button class="btn btn-primary" id="button" style="background-color:#007ac9;" type="submit">Log in</button>
                </div>
            </div>
        </form>
    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>